/* 

.loginSignup{
     margin-top: 200px;
     display: flex;
     justify-content: space-evenly;
}
.Title{
    text-align: center;
    color: #000;
    margin-top: 120px;
    color: #6495ED
}
.login{
    transform: scale(1.5);
   
}
.signUp{
    transform: scale(1.5);
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.span{
margin-top: 50px;
margin-bottom: 80px;
}


p{
font-size: 25px;

}
 */
